@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-size: 0.9vw;
  color: rgba(0, 0, 0, 0.84);
  font-family: "Noto Sans Thai", sans-serif;
}
@media screen and (min-width: 1700px) {
  body {
    font-size: 0.78vw;
  }
}

.backgroundListTeacher{
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px 1px #bdc5cdd1;
  border-radius: 0.5vw;
  width: 73vw;
  padding-left: 5vw;
  height: 67vh; 
  margin-left: 14vw;
  margin-top: 19vh;
  overflow-y: scroll;
  
}
.container-card-teacher{
  margin-top: 10vh;
}
.nav-top-listteacher{
  display: flex;
  position: fixed;
  background-color: #ffff;
  width: 68vw;
  height: 9vh;
  opacity: 0.85;
}

.title-nav-listteacher{
  width: 40vw;
  height: 12vh;
  padding-left: 6vw;
  padding-top: 4vh;
}
.search-nav-listteacher{
  display: flex;
  padding-top: 3vh;

}
.search-nav-listteacher input{
  border: 1px solid rgba(143, 143, 143, 0.414);
  height: 3.5vh;
  width: 14vw;
  border-radius: 3vw;
}
.card-ListTeacher{
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px 1px #bdc5cde7;
  height: 15vh;
  width: 50vw;
  margin-left: 6vw;
  margin-top: 2vh;
  border-radius: 0.5vw;
  transition: all 0.3s ease;
}
.card-ListTeacher.expanded {
  height: 50vh; 
}
.card-container{
  display: flex;
}
.profile-card-ListTeacher{
  background-color: rgb(193, 193, 193);
  width: 3vw;
  height: 6vw;
  margin-left: 0vw;
  margin-top: 1.3vh;
  border-radius: 0.5vw;
  border-radius: 50%;

}

.profile-card-ListTeacher{
  opacity: 0;
}
.circular--square { 
  border-radius: 50%;
  width: 6vw;
  height: 6vw; 
}

.button-card{
  display: flex;
}
.discription-card-ListTeacher{
  width: 28vw;
}
.discription-card-ListTeacher p{
  margin-top: 3vh;
  margin-left: 3vw;
}
.icon-button{
  margin-left: 0.4vw;
  border-radius: 0.5vw;


}
.search-nav-listteacher input{
  text-align: center;
}
.backbutton{
  position: absolute;
  position: fixed;
  margin-left: 16vw;
  top: 80vh;
}
.backbutton button{
  width: 6.5vw;
  height: 3.3vh;
  border-radius: 10vw;
  color: #616161;
  background-color: #09113320;
  transition: background-color 0.3s ease, color 0.3s ease; 

}
.titleTopOutside{
  position: absolute;
  top: 13vh;
  left: 38vw;
}
.backbutton button:hover{
  background-color: #00000036;
  
}
.button-card{
  width: 14vw;
  margin-left: 0.4vw;
  margin-top: 6vh;
}
.btn-choose button ,.btn-more button{
  border: 1px solid rgba(0, 0, 0, 0);
  width: 5vw;
  border-radius: 0.7vw;
}
.btn-choose button{
  margin-left: 1.4vw;
  background-color: #B9F8BF;
  transition: background-color 0.3s ease, color 0.3s ease; 
}
.btn-more button{
  margin-left: 1vw;
  background-color: #C2FCFF;
  transition: background-color 0.3s ease, color 0.3s ease; 
}
.btn-more button:hover {
  background-color: #afe3e6;
}
.btn-more button:active {
  background-color: #004080; 
}
.btn-choose button:hover {
  background-color: #a7e1ad;
}
.btn-choose button:active {
  background-color: #7aa37e; 
}
.SvgSearch svg{
  color: rgb(125, 125, 125);
  width: 1.2vw;
  margin-left: 0.3vw;
  margin-top: 0.3vh;
}
.SvgLike svg{
  color: #58c37adc;
  margin-left: 13vw;
  margin-top: 1vh;
  height: 3.5vh;
}
/* customScrollbar */
::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background: #D4D4D4;
  border-radius: 10px;
}


.moredetails-container{
  margin-top: 3vh;
  right: 20vw;

}

.graduation-container{
  height: 11vh;
  width: 47vw;
  overflow-y: scroll;
}

.graduation-container hr{
  margin: 1vh 3vw 0 6vw;
}
.nav-moredetails p , .data-details-moredetails p{ 
  margin-left: 3vw;
  text-align: center;
}
.nav-moredetails,.data-details-moredetails{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.data-details-moredetails{
  padding-top: 1.5vh;
}
.footer-container{
  display: flex;
  margin-top: 2vh;
  height: 17vh;

}
.Field-expertise{
  width: 15vw;
  margin-left: 6.3vw;
  height: 13vh;
  overflow-y: scroll;
}
.data-details-field p{
  text-align: center;
  margin-top: 0.4vw;
}
.nav-expertise p {
  padding-left: 1vw;
}
.Field-expertise hr{
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 0.6vw;
}
.contact{
  margin-left: 12vw;
  width: 12vw;
}
.contact svg{
  width: 2vw;
  height: 3vh;
  margin-right: 0.3vw;
}
.gmail-contact , .phone-contact{
  display: flex;
}
.image-profile{
  background-color: yellow;
  width: 4.3vw;
  height: 4.3vw;
  border-width: 0.3vw;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 35vh;
  right: 75vw;
  
}
.top-title{
  position: absolute;
  padding-top: 1vh;

}
.ProjectDetailsContainer{
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.06);
  width: 73vw;
  border-radius: 3px;
  margin-left: 15vw;
  margin-top: 10vh;
  height: 65vh;
  display: flex;
}
.btn-choose{
  opacity: 0;
}
.btn-choose button:hover{
  cursor: default;
}

.Title-Edit-ProjectDetails{
  background-color: #3F979B;
  height: 55vh;
  margin-top: 5vh;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.175);

}
.Card-ProjectDetailsContainer{
  background-color: #FFFF;
  border-radius: 1vw;
  margin-top: 3.5vh;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.257);
  width: 55vw;
  height: 40vh;
}
.OptionSelected-Card{
  width: 13vw;
  margin-top: 8vh;
  height: 55vh;
}
.img-front-left-bdc{
  background-color: #DDDDDD;
  width: 22vw;
  height: 37vh;
  margin-top: 1.5vh;
  margin-left: 1.45vw;
  border-radius: 5%;
}
.front-right-bdc{
  width: 25vw;
  height: 30vh;
  margin-top: 5vh;
  margin-left: 3.5vw;
}
.names-research,.names-idea
,.names-problem,.names-resource{
  margin-top: 3.5vh;
}

.top-title , .front-bdc,.footer-PDC,.problem-option,
.idea-option,.resource-option ,.phone-option
,.email-option,.boxleft-phone,.boxleft-gmail ,
.boxleft-PDC,.names-research,.names-idea
,.names-problem,.names-resource,.btn-mode-optionselected
{
  display: flex;
}
.idea-option,.resource-option ,.phone-option
,.email-option,.problem-option{
  padding-top: 3vh;
  margin-left: 3.5vw;
}
.footer-PDC{
  width: 46vw;
  height: 5vh;
}
.title-PDC p{
  margin-left: 2vw;
}
.inside-title{
  margin-top: 2vh;
  padding-top: 1vh;
  height: 2.75vh;
}

.boxright-PDC{
  width: 8vw;
  height: 5vh;
}
.boxright-PDC button , .btn-mode-optionselected button
,.post-btn button{
  width: 8vw;
  height: 4vh;
  border-radius: 15px;
}
.boxright-PDC button{
  background-color: #cef0ff;
}
.btn-mode-optionselected button,.post-btn button{
  background-color: #f6f6cdea;
  margin-left: 3.5vw;
}
.boxleft-phone,.boxleft-gmail ,
.boxleft-PDC{
  margin-left: 3vw;
}
.footer-PDC{
  padding-left: 5.5vw;
  padding-top: 1vh ;
}
.selected-option{
  height: 43vh;
}
.shadow-searchresearch{
  box-shadow: 1px 1px 1px 1px #bdc5cdd1;
}
/* :root {
  --foreground-rgb: 255,255,255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  font-family: 'Roboto';
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

